.loved-dogs-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%
}

.dog {
  width: 200px;
  height: 200px; 
  border-radius: 50%;
  margin: 20px;
}

@media screen and (max-width: 500px) {

  .loved-dogs-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%
  }

}