h3, h4 {
  align-self: center;
  margin: 3%;
  font-size: 16px;
  justify-content: center;
  display: flex;
}


.title {
  background-image: url('../../assets/browse.png');
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
}



.dog {
  width: 200px;
  height: 200px; 
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}


.keep-button {
  display: flex;
  justify-content: center;
  background-color: #47446D;
  color: white;
  font-size: 20px;
  width: 229px;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
  border: 3px solid black;
  border-bottom: 1px solid black;

}

.adopt-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #F7EDF5;
}