h4 {
  align-self: center;
  margin: 1%;
  font-size: 16px;
  justify-content: center;
  display: flex;
}


.dog-container {
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
  justify-content: center;
}

.dog {
  width: 200px;
  height: 200px; 
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.red-container {
    background-color: #F0D5F5;
    width: 225px;
    height: 300px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}

.blue-container {
  background-color: #BCC3F7;
  width: 225px;
  height: 350px;
  display: flex;
  justify-content: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

/* .love-button {
  background-image: url('../../assets/heart_filled_black.png');
} */

.keep-button {
  display: flex;
  justify-content: center;
  background-color: #47446D;
  border: none;
  color: white;
  font-size: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 50px;

}

.adopt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}