h2 {
  align-self: center;
  margin: 1%;
  font-size: 16px;
}

.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  background-color: #47446D;
  width: 100%;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.nav-button {
  border: none;
  width: 50px;
  height: 50px;
  align-content: space-between;
  color: white;
  /* margin: 0px 30px; */
  background-color: transparent;
  background-repeat: no-repeat;
  align-self: center;
}

.home {
  background-image: url('../../assets/home.png');
}
.home:hover {
  background-image: url('../../assets/black_home.png');
  background-color: #FBEBEA;
  border-radius: 50%;
}

.viewed {
  background-image: url('../../assets/eye_white.png');
}
.viewed:hover {
  background-image: url('../../assets/eye_black.png');
  background-color: #FBEBEA;
  border-radius: 50%;
}

.loved {
  background-image: url('../../assets/heart_filled_white.png');
}
.loved:hover {
  background-image: url('../../assets/heart_filled_black.png');
  background-color: #FBEBEA;
  border-radius: 50%;
}



@media screen and (max-width: 820px) {






}