h3, h4 {
  align-self: center;
  margin: 3%;
  font-size: 16px;
  justify-content: center;
  display: flex;
}


.dog {
  width: 200px;
  height: 200px; 
  border-radius: 50%;
  margin: 15px;
}


.past-dogs-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%
}

@media screen and (max-width: 500px) {

  .past-dogs-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%
  }



}

