p {
  align-self: flex-start;
  margin-left: 10px;
  margin: 5px;
}


.love-button-false {
  background-image: url('../../assets/heart_border_black.png');
  background-repeat: no-repeat;
  display: flex;
  align-content: center;
  justify-self: center;
  background-color: transparent;
  width: 50px;
  height: 75px;
  border: none;
}

.love-button-true {
  background-image: url('../../assets/heart_filled_black.png');
  background-repeat: no-repeat;
  display: flex;
  align-content: center;
  justify-self: center;
  background-color: transparent;
  width: 50px;
  height: 75px;
  border: none;
}

.dog-box {
  background-color: #BCC3F7;
  width: 225px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  align-items: center;
  border: 2px solid black;
}

.dog {
  width: 225px;
  height: 225px;
  border: 2px solid black;
}





